<!DOCTYPE html>
<html  lang="en" ng-app="toDoApp">
<head>
    <title>To Do List App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="toDo.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="toDoController.js"></script>
</head>

<body ng-controller="toDoController as toDo">
<div class="container">
    <h1>todos</h1>
    <br>
    <form>
        <input class="toDoBox" type="text" placeholder="What needs to be done?"  ng-model="toDo.item"/>
        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="!toDo.item" ng-click="toDo.addToList()">
            Add to List
        </button>
    </form>
    <div ng-show="toDo.list.length">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="i in toDo.list">
                <input  type="checkbox"  ng-model="status" ng-change="toDo.changeStatus($index)">
                <span ng-class="{strike: i.completed}">{{ i.item }}</span>
            </li>
        </ul>
    </div>
    <div class="footer">
        Items Left: {{toDo.count}}
    </div>
</div>
</body>
</html>