.strike {
    text-decoration: line-through;
}

.toDoBox {
    margin-right: 10px;
    padding: 16px 16px 16px 20px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: 0px 0px 25px #888888;
    width:50%
}

.list-group {
    margin: 3px 0px 0px 0px;
    border: none;
 background: rgba(0, 0, 0, 0.003);
    box-shadow: 2px 2px 10px #888888;
    width:50%
}

.footer {
    margin-top: 50px;
}